// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.bg-main {
    background-color: $main-color;
}
.bg-sub-main {
    background-color: $bg-color;
}
.font-white {
    color: $font-white;
}
.font-main-color {
    color: $main-color;
}
.main-img {
    width: 33%;
    height: 50%;
}
.input-text {
    width: 300px;
}
.input-textarea {
    width: 500px;
}
.selected {
    background-color: $main-color;
    color: $font-white;
    border: none;
}
